In [27]:
import pandas as pd
import numpy as np
import random

In [9]:
pd.DataFrame({'A':[1,2], 'B':[3,4], 'C': [5,6]}, index=[1,2])

   A  B  C
1  1  3  5
2  2  4  6

In [15]:
pd.DataFrame([[1,2,3], [4,5,6]], index=range(1,3), columns=["A","B","C"])

   A  B  C
1  1  2  3
2  4  5  6

In [23]:
pd.Series({"한국":"서울","일본":"도쿄","중국":"베이징"})

한국     서울
일본     도쿄
중국    베이징
dtype: object

In [28]:
pd.DataFrame(np.random.randint(0, 100, size=(2, 3)))

    0   1   2
0  53  86  80
1  91  40  75